.mat-mdc-card {
  display: flex;
  justify-content: center;
  max-width: 728px;
  padding: inherit;
  width: 498px;
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  width: inherit;
  max-width: 728px;
}

.mdc-card__actions {
  width: inherit;
  max-width: 728px;
  display: block;
}