.mat-mdc-card {
  display: flex;
  justify-content: center;
  max-width: 728px;
  width: 100%;
  padding: 20px 30px 20px 30px
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  width: inherit;
  max-width: 728px;
}

.mdc-card__actions {
  width: inherit;
  max-width: 728px;
  display: block;
}